$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

$font-size-base: 1.0rem;
$line-height-base: 1.2;

$headings-font-family: 'Oswald', sans-serif;
$font-family-base: 'Quattrocento', serif;

@import "bootstrap/bootstrap";

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.0;
}

h2 {
  font-size: 1rem;
}

// Font-Family: 'Muli', Sans-Serif;

.home {
  padding-top: 50px;
  .gallery {
    > div {
      margin-bottom: 30px;
      @include media-breakpoint-down(xs) {
        margin-bottom: 15px;
      }
    }
  }
  img.thumb {
    width: 100%;
    box-shadow: 5px 5px 10px #ccc;
  }
}

.gslide-description {
  background-color: transparent !important;
  h4, p {
    color: white !important;
    text-align: center;
  }
  .gdesc-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.gslide-image img {
  border: 20px solid white !important;
}
