---
layout: default
---

<div class="home">
  <div class="d-md-flex justify-content-between mb-4">
    <div>
      <h1>Thilo Rusche</h1>
      <p>Limited edition landscape photography prints from locations around Ireland</p>
    </div>
  </div>


  {%- if site.posts.size > 0 -%}
  <div class="row gallery">
    {%- for post in site.posts -%}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a href="{{ site.baseurl }}/assets/images/{{ post.image.src }}" class="glightbox" data-glightbox="title: {{ post.title }}; description: .custom-desc-{{ forloop.index }};">
        <img src="{{ site.baseurl }}/assets/images/previews/{{ post.image.src }}" class="thumb" />
      </a>
      <div class="glightbox-desc custom-desc-{{ forloop.index }}">
        <div class="description">{{ post.description }}</div>
      </div>
    </div>
    {%- endfor %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="info-frame d-flex flex-column justify-content-center">
      <p>See my work at</p>
      <h2>The Glasshouses 2</h2>
      <p>Lower George's Street<br />
      Dun Laoghaire</p>
        <a href="mailto:hello@thilorusche.com">hello@thilorusche.com</a>
      </div>
    </div>
  </div>
  {%- endif -%}

</div>

  <script type="text/javascript">
    const lightbox = GLightbox();
  </script>


