---
layout: default
---

<div class="home">
  <h1>Thilo Rusche</h1>
  <p class="lead">Fine art landscape photography prints from locations around Ireland</p>


  {%- if site.posts.size > 0 -%}
  <div class="row gallery">
    {%- for post in site.posts -%}
    <div class="col-sm-6 col-md-4">
      <a href="/assets/images/{{ post.image.src }}" class="glightbox" data-glightbox="title: {{ post.title }}; description: .custom-desc-{{ forloop.index }};">
        <img src="/assets/images/previews/{{ post.image.src }}" class="thumb" />
      </a>
      <div class="glightbox-desc custom-desc-{{ forloop.index }}">
        <div class="description">{{ post.description }}</div>
      </div>
    </div>
    {%- endfor %}
  </div>
  {%- endif -%}

</div>

  <script type="text/javascript">
    const lightbox = GLightbox();
  </script>


